:root {
    --blue-100: 219 100% 20%;
    --blue-200: 219 100% 30%;
    --blue-300: 219 100% 50%;
    --blue-400: 219 100% 86%;
    --blue-500: 219 100% 95%;
    --blue-600: 219 100% 98%;

    --background-100: 195 75% 86%;
}

* * {
    /*border: 1px solid black;*/
}

header {
    display: grid;
    grid-template-columns: 1fr 15fr;
    padding: .5rem;

    font-size: 14pt;
    line-height: 26pt;
}

.header_logo {
    grid-area: 1/1;
    border-radius: 100px;
    margin: 1rem;
    border: 2px solid hsl(var(--blue-100));
}

.header_title {
    grid-area: 1/2/1/5;
}

.header_catchphrase {
    grid-area: 1/2/1/5;
}

.header_tab-wrapper {
    grid-area: 2/1/2/20;

    display: grid;
    grid-template-columns: repeat(7, 1fr);

    gap: .5rem;
}

.header_tab {
    padding: .25rem;
    text-align: center;

    font-size: 12pt;

    border: 3px ridge hsl(var(--blue-400));
    border-radius: 10px;

    color: hsl(var(--blue-100));

    text-decoration: none;
}

.header_tab:visited {
    padding: .25rem;
    text-align: center;

    border: 3px ridge hsl(var(--blue-400));
    border-radius: 10px;

    color: hsl(var(--blue-100));

    text-decoration: none;
}

.header_tab:hover {
    /*box-shadow: 0px 0px 10px hsl(var(--blue-300));*/
    border: 3px groove hsl(var(--blue-400));
    background-color: hsl(var(--blue-500));
    border-radius: 10px;

    transform: scale(1.075);
}

#currentTab {
    color: hsl(var(--blue-200));
    background-color: hsl(var(--blue-500));
}

.copy {
    text-align: center;
    font-size: 10pt;
    padding: 1rem;
}

body {
    background-color: hsl(var(--blue-600));
}

.body_desc {
    text-align: center;
    font-size: 16pt;
}

.body_title {
    text-align: center;
}

.body_gallery {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    position: relative;

    align-items: center;

    height: 60rem;
    max-width: 100%;
}

.body_gallery-next {
    grid-column: 3/4;
}

.body_gallery-prev {
    grid-column: 1/2;
}

.body_gallery-next,
.body_gallery-prev {
    cursor: pointer;
    font-size: 28pt;

    text-align: center;

    max-height: 50px;

    z-index: 1000;

    color: hsl(var(--blue-100));
}


.body_gallery-next-clicked,
.body_gallery-prev-clicked {
    cursor: pointer;
    font-size: 28pt;

    text-align: center;

    max-height: 50px;

    color: hsl(var(--blue-400));
}

.body_gallery-item-shown {
    animation-name: transitionIn;
    animation-duration: 1.5s;

    border: 1px solid hsl(var(--blue-400));
    border-top: 5px ridge hsl(var(--blue-400));
    border-bottom: 5px groove hsl(var(--blue-400));
    border-radius: 25px;

    text-align: center;

    grid-column: 2/3;

    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    max-height: 100%;
}

.body_gallery-item-hidden {
    animation-name: transitionOut;
    animation-duration: 1s;
    animation-fill-mode: both;

    border: 1px solid hsl(var(--blue-400));
    border-top: 5px ridge hsl(var(--blue-400));
    border-bottom: 5px groove hsl(var(--blue-400));
    border-radius: 25px;

    text-align: center;

    grid-column: 2/3;

    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    max-height: 100%;

}

.body_gallery-item-number {
    text-align: left;
    padding: 1rem;
    font-size: 16pt;
}

.body_gallery-item-img {
    padding: 1rem;
    border-radius: 25px;

    max-width: 75%;
    max-height: 40rem;

    text-align: center;
}

.body_gallery-item-caption {
    padding: 1rem;
    font-size: 18pt;
    text-align: center;
}

#contact-shell {
    display: grid;
    justify-items: center;
}

.contact_body-statement {
    text-align: center;
}

.contact_body-about {
    text-align: center;
    padding-left: 5rem;
    padding-right: 5rem;
    font-size: 16pt;

    max-width: 75%;
}

.italics {
    font-style: italic;
}

.experienceLogos {
    display: grid;
    max-width: 40rem;

    grid-template-columns: repeat(6, 1fr);
}

.experienceLogos img {
    height: 6rem;
    text-align: center;
}

#resume-shell {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    padding: 1rem;
}

#resume-body {
    text-align: left;
    grid-column: 2/3;
}

#resume-body-bottom {
    text-align: left;
    grid-column: 3/4;
}

@keyframes transitionIn {
    0% {
        filter: opacity(0);
    }

    100% {
        filter: opacity(1);
    }
}

@keyframes transitionOut {
    0% {
        filter: opacity(1);
    }

    100% {
        filter: opacity(0);
    }
}

@media (prefers-reduced-motion) {

    .body_gallery-item-shown,
    .body_gallery-item-hidden {
        animation-duration: 0s;
    }
}